<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload a video to predict deepfake %</title>
    <link rel="stylesheet" href="/static/styles/style.css">
</head>
<body>
    
    <div class='ripple-background'>
        <div class="form">
            <form action = "uploader" method = "POST" enctype = "multipart/form-data">
                <p>Upload your video</p>
                <input type = "file" name = "file" required/>
                <input type = "submit"/>
            </form>
        </div>
        <div class='circle xxlarge shade1'></div>
        <div class='circle xlarge shade2'></div>
        <div class='circle large shade3'></div>
        <div class='circle mediun shade4'></div>
        <div class='circle small shade5'></div>
      </div>      
</body>
</html>